POSTGRES_USER=nistula
POSTGRES_PASSWORD=nistula_password
POSTGRES_DB=nistula_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# DATABASE_URL=postgresql+asyncpg://nistula:nistula_password@db:5432/nistula_db    # docker environment
DATABASE_URL=postgresql+asyncpg://nistula:nistula_password@localhost:5432/nistula_db        # local development environment

ANTHROPIC_API_KEY=enter_anthropic_api_key_here
