# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.db

# Build artifacts
dist/
build/

# Docker
*.tar

# Zip files
*.zip